<form action='/auth/identity/register' method='post' noValidate='noValidate' class="form-signin">
	<label for='email'>Email:</label>
	<input type='text' id='email' name='email'/>
	<label for='name'>Name:</label>
	<input type='text' id='name' name='name'/>
	<label for='password'>Password:</label>
	<input type='password' id='password' name='password'/>
	<label for='password_confirmation'>Confirm Password:</label>
	<input type='password' id='password_confirmation' name='password_confirmation'/>
	<input class="btn" type='submit' />
</form>